body {
    position: relative; /* Para posicionar as gotas de chuva */
    min-height: 100vh; /* Garante que o body ocupe pelo menos toda a tela */
    overflow: hidden; /* Esconde o scroll quando não necessário */
}

html {
    overflow: auto; /* scroll apenas quando necessário */
}

/* Estilo para o rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #000; /* Cor de fundo do rodapé */
    color: white; /* Cor do texto */
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: -10;
}

@keyframes brilhoAnimado {
    0% {
        text-shadow: 
            0 0 3px #fff, 
            0 0 5px #fff, 
            0 0 8px #fff;
    }
    50% {
        text-shadow: 
            0 0 5px #fff, 
            0 0 10px #fff, 
            0 0 15px #fff;
    }
    100% {
        text-shadow: 
            0 0 3px #fff, 
            0 0 5px #fff, 
            0 0 8px #fff;
    }
}

.brilho {
    animation: brilhoAnimado 1.5s infinite; /* Animação de brilho */
}

.bg-black {
    background-color: black; /* Fundo preto */
}

.copy-icon {
    cursor: pointer;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
}

.resultado-container {
    position: relative; /* Para posicionar o ícone de copiar */
}

/* Efeito de chuva */
.rain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Permite que os cliques passem através da chuva */
    z-index: -1; /* Coloca a chuva atrás de outros elementos */
}
